Repository dmariel/scrapy, pull requests merged in 2021-02, with the labels that each got.

#16 test: add test to cover all branches in _get_form #15
  tests/test_http_request.py
Labels: test_coverage

#9 test: improve test coverage for get_func_args #8
  tests/test_utils_python.py
Labels: test_coverage

#4 test: test extract filter allow no invalid urls #3
  tests/test_linkextractors.py
Labels: test_coverage

#29 test: improve test coverage for add_cookie_header #28
  tests/test_http_cookies.py
Labels: test_coverage

#12 test: improve coverage for json encoder #11
  tests/test_utils_serialize.py
Labels: test_coverage

#14 test: add test where we induce a ValueError which coveres all branche…
  tests/test_http_request.py
Labels: test_coverage

#20 test: add non-existing template test #19 + spider named the same as p…
  tests/test_commands.py
Labels: test_coverage

#21 test: incerased test coverage for is_cached_response_fresh
  tests/test_downloadermiddleware_httpcache.py
Labels: test_coverage

#27 enhance: Diy coverage - add our own coverage tool and instrument five functions
  scrapy/core/downloader/handlers/http11.py
  scrapy/linkextractors/__init__.py
  scrapy/utils/curl.py
  scrapy/utils/python.py
  scrapy/utils/tracer/__init__.py
  scrapy/utils/url.py
Labels: enhancement, manual coverage

#26 test: add coverage for valueError in http_request #25
  tests/test_http_request.py
Labels: test_coverage

#23 test: add opts.list branch coverage #22
  tests/test_command_check.py
Labels: test_coverage

#34 fix: fix a typo in test_encode_none_raises_type_error
  tests/test_utils_serialize.py
Labels: bug

#36 enhance: refactored _link_allowed
  scrapy/linkextractors/__init__.py
Labels: refactoring

#38 enhance: add refactor to curl.py #37
  scrapy/utils/curl.py
Labels: enhancement, refactoring
